* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f4f4f4;
}

nav button {
    background-color: #f4f4f4;
    color: #333;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #ddd;
}

#description {
    font-family: "Georgia", serif;  
    font-size: 20px;  
    padding: 20px;
    background-color: #e0e0e0;  
    border-radius: 10px;  
    margin: 20px 0;  
    color: #333;  
    text-align: center;
}

#download-btn-container {
    text-align: center; 
    margin: 20px 0; 
}

.download-btn {
    display: inline-block;
    padding: 15px 30px; 
    background-color: #f30000; 
    color: #fff; 
    font-size: 24px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.download-btn:hover {
    background-color: #555; 
}

#registerBtn {
    border-radius: 15px;  
    font-weight: bold;  
    background-color: #00FF00;  
    color: red;  
    padding: 10px 20px;  
    border: none;  
    cursor: pointer;  
    transition: background-color 0.3s;  
}


#registerBtn:hover {
    background-color: #00CC00;  
}

.image-gallery {
    display: flex;  
    justify-content: center; 
    margin: 20px 0; 
}

.image-gallery img {
    width: 25%; 
    max-width: 100%;
    height: auto; 
    margin: 0 10px; 
}


/* Banner */
#banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #555;
}

#banner img {
    max-width: 100%;
    height: auto;
}

/* Services */
#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.service {
    flex: 0 0 calc(50% - 20px); 
    margin: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.service h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.service p {
    font-size: 16px;
    color: #777;
}

.service img {
    max-width: 80px;  
    height: auto;
    display: block;
    margin: 0 auto 10px;  
}

.service:hover {
    background-color: #f7f7f7;  
    cursor: pointer; 
}

#actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#actions a {
    margin: 0 20px;
}

#actions img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

html, body {
    height: 100%; 
    margin: 0; 
}

main {
    flex-grow: 1; 
}